@import "~buefy/src/scss/buefy-build.scss";
@import '_colours';
@import "_avatar";
@import "_sidebar";

html {
  min-height: calc(100vh);
  overflow-y: auto;
  font-size: 14px;

  // body {
  //   margin: 0;
  // }
}

.columns {
  &.is-fullheight {
    min-height: 100vh;
  }
}
